* {
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: rgb(255, 255, 255);
    background-blend-mode: darken;
    background-size: cover;
}

.footer {
    background-color: #000;
}

.my-timeline {
    max-width: 1900px;
    margin: auto;
}

.game-image {
    width: 75%;
    display: block;
    margin: auto;
}